@import url('./styles/global.css');
@import url('./styles/wm.css');
@import url('./styles/wm-resizer.css');
@import url('./styles/context-menu.css');
@import url(./styles/app-launcher.css);
@import url('./styles//calendar.css');
@import url('./styles/taskbar.css');
@import url('./styles/taskbar-modules.css');
@import url(./styles/systray.css);
@import url('./styles/notifications.css');